#menu_control{
	position: absolute;
	z-index: -2;
	opacity: 0;
}
.header{
	background-color: #00DDDD;
	color: white;
	width: 100%;
	height: 50px;
	display: block;
	position: fixed;
	top: 0;
}
.header text{
	line-height: 50px;
	padding-left: 10px;
	font-size: 20px;
	font-family: 'Noto Sans TC', sans-serif;
}
.header .logo{
	opacity: 0;
}
.menu_btn{
	width: 48px;
	height: 38px;
	background-color: #00DDDD;
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	border: 1px solid #80FFFF;
	border-radius: 15%;
	
}
.menu_btn span{
	opacity: 0;
	width: 1px;
	height: 1px;
	display: block;
	overflow: hidden;
}
.menu_btn::before{
	content: '';
	position: absolute;
	height: 2px;
	left: 10px;
	width: 28px;
	background-color: #80FFFF;
	top: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0px 8px 0px #80FFFF,
				0px -8px 0px #80FFFF;
}
body{
	padding-top: 54px;
}
nav{
	width: 100%;
	height: 200px;
	background-color: #00DDDD;
	position: fixed;
	top: 50px;
	left: -100%;
	transition: .5s;
}
nav a{
	display: block;
	color: #80FFFF;
	text-decoration: none;
	padding: 10px 20px;
	border-top: 1px solid #80FFFF;
	transition: .3s;
}
nav a:link{
	color: #80FFFF;
}
nav a:visited{
	color: #80FFFF;
}
nav a:hover{
	color: #f8f9fa;
}
nav a:active{
	color: #f8f9fa;
}
#menu_control:checked ~ .header nav{
	left: 0;
}

.container{
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}
.container p{
	font-family: 'Noto Serif TC', serif;
}
.about {
	height: 600px;
}
.about h1{
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 0;
}
.about a{
	text-decoration: none;
	color: #bd5d38;
}
.about p{
	font-size: 20px;
	margin-top: 0;
}
.about ul{
	font-family: 'Noto Serif TC', serif;
	font-size: 16px;
}
.aboutText{
	height: calc(100% - 120px);
	padding: 60px 10px 60px 10px;
	display: block;
}
.aboutSubTitle{
	margin-bottom: 20px;
}
.titlePrimay{
	color: #bd5d38;
}
.time{
	font-size: 16px;
	color: #bd5d38;
}
.end:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #6c757d;
}


@media screen and (min-width: 768px){
	.menu_btn{
		display: none;
	}
	.header{
		width: 17rem;
		height: 100vh;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
	}
	.header text{
		opacity: 0;
	}
	.header .logo{
		opacity: 1;
		width: 17rem;
		height: 400px;
		
	}
	.header .logo img{
		max-width: 10rem;
		max-height: 10rem;
		border: .5rem solid rgba(255,255,255,.2);
		border-radius: 50%;
		position: fixed;
		top: 10%;
		left: 3.2rem;
	}
	nav{
		width: 17rem;
		left: 0;
		top: 50%;
	}
	nav a{
		border: none;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		
	}
	.container{
		width: calc(100% - 17rem);
		display: block;
		position: absolute;
		left: 17rem;
		margin: auto;
	}
	.about{
		height: 100vh;
		padding-right: 200px;
	}
	.aboutText{
		display: flex;
		align-items: left;
		justify-content: center;
		flex-direction: column;
		padding-left: 50px;
	}
	.about h1{
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 0;
	}
	.aboutSubTitle{
	margin-bottom: 50px;
	font-size: 20px;
	}
	.about ul{
	font-size: 18px;
	}
}